*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgcream: rgb(237, 235, 235);
    --fcolor:rgb(128,128,128);
    --blue:rgb(48,121,241);
    --rating :rgb(80, 161, 84);
}
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
}
.spacer{
    padding: 40px 0px;
}

/* ********************************************************************
                Top Header
************************************************************************/
.bgCream {
    background-color: var(--bgcream);
}
.top_left_content p{
    color: var(--fcolor);
    font-size: 13px;
}
.top_header{
    padding-top: 15px;
    padding-bottom: 1px;
}
.top_header_info{
    display: flex;
    justify-content: space-between;
}
.right_info{
    display: flex;
    margin: 0 10px;
}
.right_info i{
    color: var(--fcolor);
    font-size: 13px;
}
.right_info h5{
    color: var(--fcolor);
    font-size: 13px;
    margin-left: 8px;
    margin-top: 5px;
}
.top_right_content{
    display: flex;
}

/* ***************************************
            Logo Header
*************************************************/

.logo_header{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo_info input{
    padding: 12px 20px;
    /* font-weight: bold; */
    border: none !important;
    width: 500px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(128,128,128);
    box-shadow: 0px 0px 2px rgba(12,23,34,0.3)
}
.logo_img{
    cursor: pointer;
}
input:focus {
    outline: none;
    /* border: 5px solid var(--blue); */
}
.logo_header_info{
    display: flex;
    justify-content: space-between;
}
.logo_info button{
    background-color: var(--blue);
    border: none;
    padding: 14px 25px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.infos i{
    font-size: 40px;
    font-weight:800;
    margin-right: 20px;
    color: black;
    margin-top: -14px;
}
.infos{
    display: flex;
}
.info span{
    color: var(--fcolor);
    font-size: 14px;
}
.info strong{
    color: black;
}

/* ****************************************
            Categories
**********************************************/

.categories{
    width: 300px;
    box-shadow: 0px 0px 2px rgba(12,23,34,0.4);
    overflow: scroll;
    height: 100vh;
}
.category_sticky {
    position: sticky;
    top: 0;
    border-radius: 10px;
}

.category_name{
    margin-left: -32px;
    padding: 10px 0;
}
li{
    border: 1px solid #e3e3e3;
    cursor: pointer;
}
.category_name span{
    padding: 10px 10px;
    font-style: normal;
    color: black;
    font-size: 14px;
    
}
.category_name:hover span{
    color: var(--blue);
    transition: .5s;
}
.category_name:hover i{
    color: var(--blue);
    transition: .5s;
}
.category_name i{
    margin-left: 20px;
    color: var(--fcolor);
}
::-webkit-scrollbar{
    width: 4px;
}
.category_title{
    background-color: var(--blue);
    width: 300px;
    /* margin-bottom: -9px; */
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    display: flex
}
.category_title h5{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.category_title i{
    color: white;
    font-size: 28px;
    margin-left: 10px
}
::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 40px;
}

/* *******************************************************
                    Product Srction
***********************************************************/

.all_content{
    display: flex;
}
.product_container{
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.product_inner{
    box-shadow: 0px 0px 3px rgba(12,23,34,0.4);
    border-radius: 0px 0px 10px 10px;
    height: 490px;
    width: 285px;
}
.img_block{
    /* width: 300px; */
    height: 200px;
}
.img_block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product_content{
    padding: 20px;
}
.rating{
    text-decoration: none;
    background-color: var(--rating);
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.rating i{
    margin-left: 4px;
    font-size: 12px;
    padding-top: 10px;
}
.product_content p{
    color: var(--fcolor);
    font-size: 14px;
    margin: 10px 0px;
}
.product_content h5{
    color: black;
}
.product_inner:hover h5{
    color: var(--blue);
    transition: .3s;
}
.stock{
    color: var(--fcolor);
    font-size: 14px;
}
.price_content{
    margin-top: 10px;
    margin-bottom: 15px;
}
.price_content i{
    font-size: 17px;
    margin-top: 20px;
    color: black;
}
.price_content span{
    font-weight: bold;
    color: black;
}
.price_content font{
    margin-left: 15px;
    font-size: 14px;
    color: var(--rating);
    font-weight: 500;
}
.Add button{
    border: none;
    background-color: #ccc;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
}
.product_inner:hover button{
    background-color: var(--blue);
    color: white;
    transition: .4s;
}
.product_inner:hover{
    box-shadow: 0px 0px 10px rgba(12,23,34,0.4);
    transition: .4s;
    /* transform: translateY(-10px); */
}
.message{
    color: var(--fcolor);
    font-size: 20px;
    margin-left: 300px;
    margin-top: 20px;
}


/* *******************************************************
                    Single Product
************************************************************/
.cart{
    margin-top: 20px;
}
.cart{
    padding: 10px 30px;
    background-color: var(--blue);
    color: white;
    margin-left: 20px;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
}
.product_price span{
    font-weight: bold;
    font-size: 22px;
}
.product_price{
    margin: 15px 0px;
}
.product_price i{
    font-size: 22px;
    font-weight: bold;
}
.disc{
    margin-top: 10px;
    color: var(--fcolor);
    line-height: 30px;
}
.stock{
    color: var(--rating);
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
.qty{
    margin-top: 35px;
    display: flex;
    align-items: center;
}
.qty span{
    font-weight: 400;
    font-size: 15px;
}
.qty a{
    color: black;
    padding: 10px 22px;
    margin-left: 20px;
    border-radius: 2px;
    /* box-shadow: rgba(12,23,34,0.4); */
    border: 1px solid #ccc;
}
.wishlist{
    margin-top: 28px;
}
.wishlist i{
    font-size: 14px;
    margin-right: 10px;
}
.wishlist span{
    font-size: 13px;
    font-weight: 500;
}
.right{
    margin-left: 35px;
    font-weight: bolder;
}
.thumbs img{
    width: 60px !important;
    height: 60px !important;
    border: 1px solid blue;
}
.thumbnail_img{
    height: 500px;
    width: 550px;
    border-radius: 10px;
}
.thumbnail_img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.thumbs{
    margin-top: 30px;
    border-radius: 10px;
}
.thumbs img{
    border-radius: 10px;
    margin-right: 20px;
}

/* ******************************************
                    Cart
**************************************************/

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgcream); 
    margin-bottom: 60px;
  }
.content{
    text-align: center;
}
.content h2{
    font-weight: 400;
}
.content a{
    margin: 0 10px;
    color: var(--fcolor) !important;
}
.content label{
    color: var(--fcolor);
}